body {
  padding-top: 50px;
}
.starter-template {
  padding: 15px;
  text-align: center;
}
.sasquatch {
	position:absolute;
	left:50%;
	margin-left:-187.5px;
	width:375px;
	height:300px;
	border:10px solid;
	border-radius:300px / 300px;
	border-color:#222;
}
#footer{
	position:absolute;
	text-align:center;
	}
